faiss-cpu==1.8.0
firebase-admin==6.5.0
google-ai-generativelanguage==0.6.2
google-api-core==2.19.0
google-api-python-client==2.128.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.1
google-cloud-firestore==2.16.0
google-cloud-storage==2.16.0
google-crc32c==1.5.0
google-generativeai==0.5.2
google-resumable-media==2.7.0
googleapis-common-protos==1.63.0
h11==0.14.0
htbuilder==0.6.2
httpcore==1.0.2
httplib2==0.22.0
httptools==0.6.1
httpx==0.25.2
huggingface-hub==0.19.4
humanfriendly==10.0
idna==3.3
imbalanced-learn==0.12.2
imblearn==0.0
importlib-metadata==6.9.0
importlib_resources==6.4.0
InstructorEmbedding==1.0.1
ipykernel==6.29.4
ipython==8.23.0
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.2
joblib==1.3.2
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.20.0
jsonschema-specifications==2023.11.2
kiwisolver==1.4.5
kubernetes==29.0.0
langchain==0.1.17
langchain-community==0.0.38
langchain-core==0.1.52
langchain-google-genai==1.0.3
langchain-text-splitters==0.0.1
langsmith==0.1.53
Markdown==3.6
markdown-it-py==3.0.0
markdownlit==0.0.7
marshmallow==3.20.1
nltk==3.8.1
numpy==1.26.2
oauth2client==4.1.3
oauthlib==3.2.2
onnxruntime==1.17.3
openai==0.28.0
openapi-schema-pydantic==1.2.4
opentelemetry-api==1.24.0
opentelemetry-exporter-otlp-proto-common==1.24.0
opentelemetry-exporter-otlp-proto-grpc==1.24.0
opentelemetry-instrumentation==0.45b0
opentelemetry-instrumentation-asgi==0.45b0
opentelemetry-instrumentation-fastapi==0.45b0
opentelemetry-proto==1.24.0
opentelemetry-sdk==1.24.0
opentelemetry-semantic-conventions==0.45b0
opentelemetry-util-http==0.45b0
orjson==3.10.2
overrides==7.7.0
packaging==23.2
pandas==2.1.3
parso==0.8.4
Pillow==10.1.0
pip==24.0
platformdirs==4.2.0
plotly==5.22.0
plumbum==1.8.2
ply==3.11
posthog==3.5.0
prometheus_client==0.20.0
prompt-toolkit==3.0.43
proto-plus==1.23.0
protobuf==4.25.1
pure-eval==0.2.2
pyarrow==14.0.1
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.21
pycryptodome==3.20.0
pydantic==1.10.15
pydantic_core==2.14.5
pydeck==0.8.1b0
Pygments==2.17.2
PyJWT==2.8.0
pymdown-extensions==10.7.1
PyPDF2==3.0.1
referencing==0.31.1
regex==2023.10.3
requests==2.32.2
requests-oauthlib==2.0.0
requests-toolbelt==0.10.1
rich==13.7.0
rpds-py==0.13.2
rsa==4.9
st-annotated-text==4.0.1
streamlit==1.34.0
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.0
streamlit-chat==0.1.1
streamlit-embedcode==0.1.2
streamlit-extras==0.4.0
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.6
streamlit-keyup==0.2.3
streamlit-option-menu==0.3.12
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
tenacity==8.2.3
text-unidecode==1.3
threadpoolctl==3.2.0
tiktoken==0.5.1
tinycss2==1.2.1
tokenizers==0.15.0
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
torch==2.1.1
transformers==4.35.2
