streamlit
streamlit-option-menu
streamlit-extras
google-generativeai
PyPDF2
langchain
langchain-google-genai
gigachain-google-genai
langchain-community
faiss-cpu
embeddings
pdfreader
firebase_admin
langchain_google_genai
streamlit
google-generativeai
python-dotenv
langchain
PyPDF2
chromadb
faiss-cpu
langchain_google_genai
vectorstores
